<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <title>@ManyToOne</title>
</head>
<body>
  <div align="center">
    <h3>JPA 데베</h3>
    <h2>Player </h2>
    <table border="1" cellpadding="10">
      <tr>
        <th>아이디</th>
        <th>이 름</th>
      </tr>
      <tr th:each="player:${playerList}">
        <td th:text ="${player.id}"></td>
        <td th:text ="${player.name}"></td>
      </tr>
    </table>
    <br>
    <h2>teeeeeeeam</h2>
    <table border="1" cellpadding="10">
      <tr>
        <th>아이디</th>
        <th>팀 이름</th>
      </tr>
      <tr th:each="team:${teamList}">
        <td th:text ="${team.id}"></td>
        <td th:text ="${team.name}"></td>
      </tr>
    </table>
  </div>
</body>
</html>